@import '~bootstrap/dist/css/bootstrap.css';
@import '~angular-toastr/dist/angular-toastr.css';
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css");

.filmes {
    margin: 10px;
    padding: 10px;
    // background-color: 
    border: 1px solid #ccc;
}

.required label {
    &:after {
        color: red;
        content: " *";
    }
}

.form-group, .nesse-tambem {
    min-height: 89px;
}

.input-error {
    color: #a94442;
}

.form-control-feedback {
    padding-right: 16px;
}