<div>
    <h1 class="listaFilmes"> Lista dos meus filmes favoritos </h1> 

    <div class="form-group">
        <label for="inputSearch">Pesquisar filme</label>
        <input type="text" class="form-control" id="inputSearch" 
            ng-model="vm.buscaFilme"
            ng-model-options="{ debounce: 300 }"
            placeholder="Pesquisar filme">
    </div>

    <button class="btn btn-primary" ng-click="vm.adicionarFilme()">
        <i class="glyphicon glyphicon-plus"></i> Adicionar Filme</button>

    <div class="alert alert-danger" ng-if="vm.hasError">
        <p> Deu ruim -> {{ vm.hasError }}</p>
    </div>

    <lista 
        busca="vm.buscaFilme"
        filmes="vm.filmes"
        on-edit-filme-click="vm.editarFilme(filme)"
        on-remove-filme-click="vm.removerFilme(filmeId)"
    ></lista>
</div>